<!DOCTYPE html>
<html lang="es">

<head>
  <title>Adopcion</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/adopcion.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="sweetalert2.min.css">
  <link rel="shortcut icon" href="/img/logo.png">
</head>

<body>
  <div id="app">



    <div class="container register">
      <div class="row">
        <div class="col-md-3 register-left">
          <img src="img/Servicios-vectores-consulta-integral.png" alt="" />
          <h3>Bienvenid@</h3>
          <p>Registra una mascota para dar en adopcion.</p>
          <a href="./cards.html" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">Salir</a>
        </div>

        <div class="col-md-9 register-right">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <h3 class="register-heading">DATOS DE LA MASCOTA</h3>


              <form @submit.prevent="addReplacement" class="row register-form">
                <div class="col-md-6">
                  <div class="form-group">
                    <h6>Nombre de la mascota : </h6>
                    <div class="container my-3">
                    </div>
                    <input v-if="is.nit" v-model="NIT" type="text" class="form-control" placeholder="Nombre mascota*" required />
                  </div>
                  <div class="form-group">
                    <h6>Raza de la mascota : </h6>
                    <div class="container my-3">
                    </div>
                    <input v-if="is.nit" v-model="NIT" type="text" class="form-control" placeholder="Raza mascota*" required />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <h6>Fecha de venta del repuesto:</h6>
                    <input v-model="date" type="date" class="form-control"
                      placeholder="Fecha de venta del repuesto *" />
                  </div>
                  <div class="form-group">
                    <h6>Repuesto a registrar:</h6>
                    <select v-model="selected" class="form-control">
                      <option class="hidden" selected disabled>Selecciona el repuesto
                      </option>
                      <option value="aceite">Aceite</option>
                      <option value="empaque">Empaque</option>
                      <option value="llanta">Llanta</option>
                      <option value="bateria">Bateria</option>
                      <option value="discos frenos">Disco frenos</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <h6>Cantidad</h6>
                    <input v-model="amount" type="number" class="form-control">
                  </div>
                  <input type="submit" class="btnRegister" value="Registrar" />
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  </div>

  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>


</html>